:root {
    --color-primary: #03a9f4;
    --color-secondary: #eb1e61;
    --shadow: 0 0.2rem 0.4rem #0006;
}

body,
body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', 'Trebuchet MS', sans-serif;
}